.icon-user {
  font-size: 2em;
}

header {
  height: 70px;
  background-color: #275DAD;
}

.row {
  position: relative;
}

a.logo {
  font-size: 2.5em;
  text-align: center;
  color: #FCF7F8;
  font-weight: bold;
}

a.button {
  position: absolute;
  right: 100px;
  top: 8px; 
  align-self: center;
  background-color: #275DAD;
  transition: backgroud-color 0.3s ease;
}

a.button:visited {
  background-color: #275DAD;
}

a.button:hover {
  background-color: #1d4279;
}

